<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header');-%>

<body>
    <!-- Navigation-->
    <%- include('layouts/navbar');-%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/fnq84z84y54uax0pt9oi.jpg');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>NYUST</h1>
                        <span class="subheading">Power Watch</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5" id="ejs">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-preview">
                    <% if (oneminPowerPosts.length>1) {%>
                    <h2 class="post-title">
                        <%= oneminPowerPosts[oneminPowerPosts.length-1].WATT %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= oneminPowerPosts[oneminPowerPosts.length-1].createdAt %>
                    </h3>
                    <% } else { %>
                    <h1>If you see this message that mean mongodb or shelly have some problem.</h1>
                    <h1>Please check.</h1>
                    <% } %>
                    <!-- <% var onemins = oneminPowerPosts; %>
                    <div id='myDiv'>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <%-include('layouts/footer');-%>
    <%-include('layouts/scripts');-%>
    <script>
        // var onemin = "<% onemins %>"
        // var xaxis = [];
        // var yaxis = [];
        // for (var i = 0; i < onemin.length; i++) {
        //     xaxis = xaxis.push(onemin[i].createdAt);
        //     yaxis = yaxis.push(onemin[i].WATT);
        // }
        // var data = [{
        //     x: xaxis,
        //     y: yaxis,
        //     type: 'scatter'
        // }];
        // Plotly.newPlot('myDiv', data);
        setInterval(() => {
            $("#ejs").load("https://murmuring-temple-18681.herokuapp.com/" + " #ejs");
            // $("#myDiv").load("http://localhost:4000" + " #myDiv");
            // xaxis.push(onemin[onemin.length - 1].createdAt);
            // yaxis = yaxis.push(onemin[onemin.length - 1].WATT);
            // data = [{
            //     x: xaxis,
            //     y: yaxis,
            //     type: 'scatter'
            // }];
            // Plotly.newPlot('myDiv', data);
        }, 1000);
    </script>
</body>

</html>