<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header');-%>

<body>
    <%- include('layouts/navbar');-%>
    <header class="masthead" style="background-image: url('public/img/fnq84z84y54uax0pt9oi.jpg');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>NYUST</h1>
                        <span class="subheading">Power Watch</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="Plot">
        <h1>Plot(This is not true value of plot,just test)</h1>
        <canvas id="myChart"></canvas>
    </div>
    <div class="Side">
        <div class="Digital" id="value">
            <h1>Now</h1>
            <% if (oneminPowerPosts.length>1) {%>
            <div>
                <h3 id="Watt-Text">Watt : </h3>
                <h5 id="Watt-Value"><%=oneminPowerPosts[oneminPowerPosts.length-1].功率%></h5>
                <h5 id="Watt-Unit">kW</h5>
            </div>
            <div>
                <h3 id="Watt-Text">Voltage : </h3>
                <h5 id="Watt-Value"><%=oneminPowerPosts[oneminPowerPosts.length-1].電壓%></h5>
                <h5 id="Watt-Unit">v</h5>
            </div>
            <div>
                <h5 id="Time-Value">
                    <%= (oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getMonth()+1)%>月<%= oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getDate()%>日<%= oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getHours()%>時<%= oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getMinutes()%>分<%= oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getSeconds()%>秒
                </h5>
            </div>
        </div>
        <% } %>
        <div class="Control">
            <h1>Control</h1>
            <div>
                <button id="On">On</button>
            </div>
            <div>
                <button id="Off">Off</button>
            </div>
        </div>
    </div>
    <%-include('layouts/footer');-%>
    <%-include('layouts/scripts');-%>
    <script language="JavaScript" type="text/javascript" src="public/js/plot.js"></script>
    <script>
        setInterval(() => {
            $("#value").load("https://murmuring-temple-18681.herokuapp.com/" + " #value");
            $("#value").load("http://localhost:4000/" + " #value");
        }, 1000);
    </script>
</body>

</html>