<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header');-%>

<body>
    <%- include('layouts/navbar');-%>
    <header class="masthead" style="background-image: url('public/img/fnq84z84y54uax0pt9oi.jpg');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>NYUST</h1>
                        <span class="subheading">Power Watch</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="Plot">
        <h1>Plot(This is not true value of plot,just test)</h1>
        <div id="myChart"></div>
    </div>
    <div class="Side">
        <div class="Digital" id="value">
            <h1>Now</h1>
            <% if (oneminPowerPosts.length>1) {%>
            <div>
                <h3 id="Watt-Text">Watt : </h3>
                <h5 id="Watt-Value"><%var WATT =JSON.parse(oneminPowerPosts[oneminPowerPosts.length-1].功率)%>
                    <%=WATT%></h5>
                <h5 id="Watt-Unit">kW</h5>
            </div>
            <div>
                <h3 id="voltage-Text">Voltage : </h3>
                <h5 id="voltage-Value"><%=oneminPowerPosts[oneminPowerPosts.length-1].電壓%></h5>
                <h5 id="voltage-Unit">v</h5>
            </div>
            <div>
                <h5 id="Time-Value">
                    <%var years = oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getYear()+1900%>
                    <%var month = (oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getMonth()+1)%>
                    <%var day = oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getDate()%>
                    <%var hours = oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getHours()%>
                    <%var mins = oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getMinutes()%>
                    <%var secs = oneminPowerPosts[oneminPowerPosts.length-1].createdAt.getSeconds()%>
                    <%=month%>-<%=day%> <%=hours%>時<%=mins%>分<%=secs%>秒
                </h5>
            </div>
            <var id="date" style="visibility: hidden;"><%=years%>-<%=month%>-<%=day%> <%=hours%>:<%=mins%>:<%=secs%></var>
        </div>
        <% } %>
        <!-- <div class="Control">
            <h1>Control</h1>
            <div>
                <button id="On">On</button>
            </div>
            <div>
                <button id="Off">Off</button>
            </div>
        </div> -->
    </div>
    <%-include('layouts/footer');-%>
    <%-include('layouts/scripts');-%>
    <!-- <script language="JavaScript" type="text/javascript" src="public/js/plot.js"></script> -->
    <script>
        setInterval(() => {
            // $("#value").load("https://murmuring-temple-18681.herokuapp.com/" + " #value");
            $("#value").load("http://localhost:4000/" + " #value");
        }, 10000);
        let Watt = document.getElementById('Watt-Value').innerText;
        let date = document.getElementById('date').innerHTML;
        var xdata = [];
        var ydata = [];
        var data = [{
            x: xdata,
            y: ydata,
            type: 'scatter'
        }];
        Plotly.newPlot('myChart', data);
        var Timer = setInterval(function () {
            Watt = document.getElementById('Watt-Value').innerText;
            date = document.getElementById('date').innerHTML;
            updateData();
            console.log(xdata);
            console.log(ydata);
            Plotly.newPlot('myChart', data);
        }, 10000)

        function updateData() {
            ydata.push(Watt)
            xdata.push(date)
        }
    </script>
</body>

</html>