<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header');-%>

<body>
    <%- include('layouts/navbar');-%>
    <header class="masthead" style="background-image: url('public/img/fnq84z84y54uax0pt9oi.jpg');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>NYUST</h1>
                        <span class="subheading">Power Watch</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="Plot">
        <h1>Plot(This is not true value of plot,just test)</h1>
        <!-- <div id='myDiv'></div> -->
        <canvas id="myChart"></canvas>

    </div>
    <div class="Side">
        <div class="Digital" id="value">
            <h1>Now</h1>
            <% if (oneminPowerPosts.length>1) {%>
            <div>
                <h3 id="Watt-Text">Watt : </h3>
                <h5 id="Watt-Value"><%var watt = JSON.parse(wattarray)%><%=watt[watt.length-1]%></h5>
                <h5 id="Watt-Unit">kW</h5>
            </div>
            <div>
                <h3 id="voltage-Text">Voltage : </h3>
                <h5 id="voltage-Value"><%=oneminPowerPosts[oneminPowerPosts.length-1].電壓%></h5>
                <h5 id="voltage-Unit">v</h5>
            </div>
            <div>
                <h5 id="Time-Value"><%var date = JSON.parse(datearray)%><%=date[date.length-1]%></h5>
            </div>
        </div>
        <% } %>
        <!-- <div class="Control">
            <h1>Control</h1>
            <div>
                <button id="On">On</button>
            </div>
            <div>
                <button id="Off">Off</button>
            </div>
        </div> -->
    </div>
    <%-include('layouts/footer');-%>
    <%-include('layouts/scripts');-%>
    <!-- <script language="JavaScript" type="text/javascript" src="public/js/plot.js"></script> -->
    <script>
        setInterval(() => {
            // $("#value").load("https://murmuring-temple-18681.herokuapp.com/" + " #value");
            $("#value").load("http://localhost:4000/" + " #value");
        }, 10000);
        var Watt = document.getElementById('Watt-Value').innerHTML;
        var Dates = document.getElementById('Time-Value').innerHTML;
        var ctx = document.getElementById('myChart');
        var xdata = [];
        var ydata = [];
        xdata = "<%-date%>".split(",");
        ydata = "<%-watt%>".split(",");
        ydata = ydata.map(Number);
        console.log(xdata);
        console.log(ydata);

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: xdata,
                datasets: [{
                    label: '用電量(kW)',
                    data: ydata,
                    backgroundColor: 'rgba(111, 163, 204, 0.5)',
                    borderColor: '#6FA3CC',
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 6,
                                beginAtZero: true
                            }
                        }]
                    }
                }]
            }
        });
        myChart;
        // var data = [{
        //     x: xdata,
        //     y: ydata,
        //     type: "free"
        // }];

        // Plotly.newPlot('myDiv', data);

        var Timer = setInterval(function () {
            Watt = document.getElementById('Watt-Value').innerHTML;
            Dates = document.getElementById('Time-Value').innerHTML;
            if (xdata[xdata.length - 1] != Dates) {
                updateData(myChart, Watt, Dates);
                // updateData(Watt, Dates);
                console.log(xdata);
                console.log(ydata);
            }

        }, 1000)

        function updateData(chart,watt, date) {
            ydata.push(watt);
            xdata.push(date);
            ydata = ydata.map(Number);
            ydata.shift();
            xdata.shift();
            chart.update();
            // Plotly.newPlot('myDiv', data);
        }
    </script>
</body>

</html>